{{#each examples}}
<li data-id="{{this.id}}" class="list-group-item">
<a href="example/{{this.id}}">{{this.Year}}: {{this.Country}}, {{this.Area}}, {{this.Location}}</a>
<button class="btn btn-danger float-right delete">ｘ</button>
</li>
{{/each}}