<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <p>
            <strong>Case</strong>: {{example.id}}</p>
          <p>
            <strong>Date</strong>: {{example.Date}}</p>
          <p>
            <strong>Species</strong>: {{example.Species}}</p>
          <p>
            <strong>Status</strong>: {{example.Injury}}</p>
          <p>
            <strong>Associated Link:</strong> {{example.pdf}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
